<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{#if title }}
        {{title}} -
      {{/if }}
      domonicmilesi.com
    </title>

    <meta charset="utf-8">
    <meta name="author" content="Domonic Milesi" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{rootPath}}favicon.png">
    <link rel="stylesheet" href="{{rootPath}}css/style.css" />
    {{#if sidebar }}
    <link rel="stylesheet" href="{{rootPath}}css/style-sidebar.css"/>
    {{/if }}

    {{#if custom_head}}
      {{> (lookup . 'custom_head') }}
    {{/if}}
  </head>

  <body>
    {{#if sidebar }}
    {{> sidebar }}
    {{/if}}
    <main class="content container">
      {{{contents}}}
    </main>
  </body>
</html>
